.btn {
  font-size: 1em;
  padding: 11px 15px;
  text-decoration: none;
  color: $white-color;
  background-color: $secondary-color;
  border: none;
}


.txt {
  font-size: 1.25em;
  font-weight: 700;
  padding: 10px 0;
  background-color: $white-color;
  border: none;
}