body {
  font: 100% $font-stack;
  background: $white-color;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1800px;
}

header {
  padding: 25px 10% 25px 10%;
  background-color: $primary-color;
  line-height: 50px;
  overflow: hidden;
  border-bottom: 5px solid $secondary-color;
  @media (max-width: $break-mobile) {
    line-height: 10px;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
    strong {
      color: $secondary-color;
    }
  }
  nav {
    list-style: none;
    a {
      text-align: center;
      text-decoration: none;
      color: $white-color;
      padding: 20px;
    }
    #home {
      color: $secondary-color;
    }
  }
}

footer {
  max-height: 100px;
  line-height: 50px;
  background-color: $secondary-color;
  color: $white-color;
  font-size: 1em;
}

%col-md {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  @media (max-width: $break-mobile) {
    width: 100%;
    float: none;
    display: block;
  }
}

.col-r {
  @extend %col-md;
  float: right;
}

.col-l {
  @extend %col-md;
  float: left;
}

