.btn {
  font-size: 1em;
  padding: 11px 15px;
  text-decoration: none;
  color: #F4F4F4;
  background-color: #967D4E;
  border: none;
}

.txt {
  font-size: 1.25em;
  font-weight: 700;
  padding: 10px 0;
  background-color: #F4F4F4;
  border: none;
}

body {
  font: 100% Helvetica, sans-serif;
  background: #F4F4F4;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1800px;
}

header {
  padding: 25px 10% 25px 10%;
  background-color: #35424A;
  line-height: 50px;
  overflow: hidden;
  border-bottom: 5px solid #967D4E;
}
@media (max-width: 700px) {
  header {
    line-height: 10px;
  }
}
header h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
}
header h1 strong {
  color: #967D4E;
}
header nav {
  list-style: none;
}
header nav a {
  text-align: center;
  text-decoration: none;
  color: #F4F4F4;
  padding: 20px;
}
header nav #home {
  color: #967D4E;
}

footer {
  max-height: 100px;
  line-height: 50px;
  background-color: #967D4E;
  color: #F4F4F4;
  font-size: 1em;
}

.col-l, .col-r {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
@media (max-width: 700px) {
  .col-l, .col-r {
    width: 100%;
    float: none;
    display: block;
  }
}

.col-r {
  float: right;
}

.col-l {
  float: left;
}

.subscribe {
  padding: 20px;
  background-color: #35424A;
  overflow: hidden;
}
.subscribe h2 {
  color: #F4F4F4;
  margin: 0;
}

.intro {
  background: url("../images/showcase.jpg") no-repeat center;
  background-size: cover;
  height: 200px;
  text-align: center;
  padding: 100px 0;
}
.intro h1 {
  font-size: 4rem;
  margin: 0;
  color: #F4F4F4;
}
.intro p {
  margin: 20px 10%;
  line-height: 1.5;
  font-size: 1.2rem;
  vertical-align: middle;
  color: #F4F4F4;
}
@media (max-width: 700px) {
  .intro p {
    display: none;
  }
}

.tools {
  background-color: #F4F4F4;
  padding: 80px;
}
.tools .tool {
  width: 30%;
  margin: 25px 1%;
  display: inline-block;
}
.tools .tool img {
  width: 50%;
  height: 50%;
  max-width: 200px;
  max-height: 200px;
}
@media (max-width: 700px) {
  .tools .tool {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.services {
  background-color: #F4F4F4;
  overflow: hidden;
  display: block;
  padding: 0 10%;
}
.services .listServices {
  float: left;
  width: 66%;
}
.services .listServices h4 {
  text-align: left;
  padding: 20px;
  margin: 10px;
}
.services .listServices .service {
  text-align: left;
  line-height: 20px;
  padding: 20px;
  margin: 10px 0;
  background-color: #E6E6E6;
  border: 3px solid #E0E0E0;
}
@media (max-width: 700px) {
  .services .listServices .service {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .services .listServices {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
  }
}
.services .quote {
  margin: 20px 0;
  padding: 20px;
  line-height: 25px;
  background-color: #35424A;
  color: white;
  float: right;
  width: 27%;
  text-align: left;
}
.services .quote label {
  display: block;
}
.services .quote input {
  width: 100%;
}
.services .quote button {
  margin-top: 10px;
}
@media (max-width: 700px) {
  .services .quote {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
  }
}

.about {
  background-color: #F4F4F4;
  overflow: hidden;
  display: block;
  padding: 0 10%;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
}
.about .aboutUs {
  float: left;
  width: 50%;
}
.about .aboutUs .imp {
  padding: 10px;
  color: white;
  background-color: #35424A;
}
@media (max-width: 700px) {
  .about .aboutUs {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
  }
}
.about .do {
  float: right;
  width: 40%;
  padding: 10px;
  margin: 25px 0;
  color: white;
  background-color: #35424A;
}
@media (max-width: 700px) {
  .about .do {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
  }
}

/*# sourceMappingURL=main.css.map */
