.about {
  background-color: $white-color;
  overflow: hidden;
  display: block;
  padding: 0 10%;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
  .aboutUs {
    float: left;
    width: 50%;
    .imp {
      padding: 10px;
      color: white;
      background-color: $primary-color;
    }
    @media (max-width: $break-mobile) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      float: none;
    }
  }
  .do {
    float: right;
    width: 40%;
    padding: 10px;
    margin: 25px 0;
    color: white;
    background-color: $primary-color;
    @media (max-width: $break-mobile) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      float: none;
    }
  }
}