.intro {
  background: url($bg-image-url) no-repeat center;
  background-size: cover;
  height: 200px;
  text-align: center;
  padding: 100px 0;
  h1 {
    font-size: 4rem;
    margin: 0;
    color: $white-color;
  }
  p {
    margin: 20px 10%;
    line-height: 1.5;
    font-size: 1.2rem;
    vertical-align: middle;
    color: $white-color;
    @media (max-width: $break-mobile) {
      display: none;
    }
  }
}

.tools {
  background-color: $white-color;
  padding: 80px;
  .tool {
    width: 30%;
    margin: 25px 1%;
    display: inline-block;
    img {
      width: 50%;
      height: 50%;
      max-width: 200px;
      max-height: 200px;
    }
    @media (max-width: $break-mobile) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}