.services {
  background-color: $white-color;
  overflow: hidden;
  display: block;
  padding: 0 10%;
  .listServices {
    float: left;
    width: 66%;
    h4 {
      text-align: left;
      padding: 20px;
      margin: 10px;
    }
    .service {
      text-align: left;
      line-height: 20px;
      padding: 20px;
      margin: 10px 0;
      background-color: #E6E6E6;
      border: 3px solid #E0E0E0;
      @media (max-width: $break-mobile) {
        text-align: center;
      }
    }
    @media (max-width: $break-mobile) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      float: none;
    }
  }
  .quote {
    margin: 20px 0;
    padding: 20px;
    line-height: 25px;
    background-color: $primary-color;
    color: white;
    float: right;
    width: 27%;
    text-align: left;
    label {
      display: block;
    }
    input {
      width: 100%;
    }
    button {
      margin-top: 10px;
    }
    @media (max-width: $break-mobile) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      float: none;
    }
  }
}
